<div class="home">

  <!-- TODAY TASKS -->
  <h1 class="title">📅 Today's Tasks</h1>

  <!-- PROGRESS BAR -->
  <div class="progress-wrapper" *ngIf="todayTotal > 0">

    <div class="progress-info">
      <span>Today's progress</span>
      <span>{{ todayCompleted }}/{{ todayTotal }} ({{ getProgress() }}%)</span>
    </div>

    <div class="progress-bar">
      <div
        class="progress-fill"
        [style.width.%]="getProgress()">
      </div>
    </div>

  </div>

  <div class="today-card">

    <!-- brak tasków w ogóle -->
    <div *ngIf="!hasAnyTasks" class="empty">
      <h3>No tasks yet</h3>
      <p>Add your first task to get started 🚀</p>
    </div>

    <!-- brak tasków na dziś -->
    <div *ngIf="hasAnyTasks && todayTasks.length === 0" class="empty">
      <h3>No tasks for today</h3>
      <p>Enjoy your free time 😎</p>
    </div>

    <!-- lista -->
    <div class="today-list" *ngIf="todayTasks.length > 0">

      <div class="task" *ngFor="let t of todayTasks">

        <div class="left">
          <h3 [class.done]="t.status === 'DONE'">{{ t.title }}</h3>
          <p>{{ t.startDate | date:'shortTime' }} → {{ t.endDate | date:'shortTime' }}</p>
        </div>

        <button
          class="status"
          [class.done]="t.status === 'DONE'"
          (click)="toggleStatus(t)">

          {{ t.status === 'DONE' ? 'UNDO' : 'TODO' }}

        </button>

      </div>

    </div>

  </div>

  <!-- OVERVIEW -->
  <h1 class="title">📊 General statistics</h1>

  <div class="stats">

    <div class="card completed">
      <div class="icon">✅</div>
      <div>
        <p>Completed</p>
        <h2>{{ completed }}</h2>
      </div>
    </div>

    <div class="card total">
      <div class="icon">📋</div>
      <div>
        <p>Total Tasks</p>
        <h2>{{ total }}</h2>
      </div>
    </div>

    <div class="card overdue">
      <div class="icon">⚠️</div>
      <div>
        <p>Overdue</p>
        <h2>{{ overdue }}</h2>
      </div>
    </div>

  </div>

</div>

