.login-page {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: linear-gradient(135deg, #0f172a, #1e293b);
}

/* nagłówek */
.login-header {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}

.login-header h1 {
  font-size: 36px;
  margin-bottom: 8px;
}

/* BOX */
.login-box {
  background: white;
  padding: 30px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 320px;

  box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

/* INPUTY */
.login-box input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

/* BUTTON */
.login-box button {
  background: #0f172a;
  color: white;
  font-weight: bold;
}
