.task-input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.task-input button {
  background: var(--primary);
  color: white;
}

.task {
  background: var(--card);
  padding: 14px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  transition: 0.2s;
}

.task:hover {
  transform: translateY(-2px);
}

.done {
  text-decoration: line-through;
  opacity: 0.5;
}

.delete {
  color: #ef4444;
  background: transparent;
}
